@charset "UTF-8";

body{
    font: normal 13px Helvetica, Arial, serif;
    background-color: brown;
}
h1{
    text-align: center;
    background-color: blueviolet;
    padding: 20px;
    color: white;
}
h2{
    text-align: right;
    background-color: black;
    color: white;
    padding: 10px;
}
p{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 20px;
    color: white;
}
.dois{
    background-color: cornflowerblue;
    color: black;
    font-size: 1.5em;
    padding: 15px;
}
.avançado{
    color: rgb(255, 61, 61);
}
.basico{
    color: green;
}
.medio{
    color: yellow;
}